BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
IndentWidth: 4
TabWidth: 4
UseTab: Never
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
BreakBeforeBraces: Custom
AlignTrailingComments: true
